<%- include('./partials/admin-head') %>
    <main>

        <body>
            <div id="p-container">

<form action="/admin/filter" method="POST">
    <label for="category">Filter by Category:</label>
    <select name="category" id="category">
        <option value="">All</option>
        <option value="Coffee">Coffee</option>
        <option value="Tea">Tea</option>
        <option value="Accessories">Accessories</option>
    </select>
    <button type="submit">Apply Filter</button>
</form>

<div id="item-list">
    <% for (const product of products) { %>
        <div class="product-item">
            <!-- Product Image -->
            <img class="product-image" src="/images/<%= product.imageURL %>" alt="<%= product.name %>">

            <!-- Product Details -->
            <h3><%= product.name %></h3>
            <p><strong>Price:</strong> <%= product.price %></p>
            <p><strong>Description:</strong> <%= product.description %></p>


        </div>
    <% } %>
</div>