<%- include('./partials/head') %>
    <div class="product-detail-container">

        <div class="product-details-left">
            <div class="product-image-container">
                <img src="/images/<%= item.imageURL %>" alt="<%= item.name %>">
            </div>
        </div>

        <div class="product-details-right">
            <h1>
                <%= item.name %>
            </h1>
            <h2>$<%= item.price %>
            </h2>
            <p>
                <%= item.description %>
            </p>
            <form action="/user/addToCart" method="POST">
                <input type="hidden" name="productID" value="<%= item.productID %>">
                <button class="add-to-cart" type="submit">Add to Cart</button>
            </form>
        </div>
    </div>

    <footer>><!--this is the footer-->
        <div id="footer_background">
            <div id="coffee_bean_footer_accent">
                <p>Copyright © 2024 Sip 'n Snuggles</p>
            </div>
        </div>
    </footer>

    </body>

    </html>