<%- include('./partials/head') %>

    <!-- the hook is the box of text below the nav bar-->
    <div id="hook"> <!--inline-->
        <h1>🐱 Every cup of coffee or tea from Sip 'n Snuggles helps a homeless cat find its forever home! 🐱</h1>
    </div>

    <!--the welcome_bar container holds the description of the business-->
    <div id="welcome_bar"> <!--block-->
        <h2 id="cat_fact">
            Welcome to Sip 'n Snuggles! We are a fully online, non-profit shop selling coffees, teas, and beverage
            accessories.
            We were founded with a passion for cozy drinks and animals, so we donate 100% of the profits from our shop
            to cat
            rescues across the nation. Our coffees and teas are a delicious compliment to your morning breakfest, an
            afternoon snack,
            or as a simple treat on the go. We also sell a variety of adorable mugs and beverage accesories, to provide
            our customers
            with the best experience possible! We hope you find what you are looking for at Sip 'n Snuggles, knowing
            that your purchase
            is benefitting cats in need.
        </h2>
    </div>

    <!-- the body2 container holds the splash image and a link to browse our coffees and teas-->
    <div id="body2_container">
        <form action="/user/impact" method="GET">
            <button type="submit" id="browse_button">Discover <br> Our Impact</button>
        </form>            
    </div>
    
    

    <!-- CAT FACTS API -->
    <h2 id="cat-head">Fun Cat Fact</h2>
    <div id="cat_fact_container">
        <% if (catFact) { %>
          <p id="cat_fact"><%= catFact %></p>
        <% } else { %>
          <p id="cat_fact_error">Failed to fetch cat fact. Please try again later.</p>
        <% } %>
      </div>

    <!--this container holds the cat prints that go across the screen as a divider-->
    <div class="cat_prints_container"> <!--block-->
        <hr class="cat_prints">
    </div>


    <h2 id="cat-head">Check Out These Cool Products</h2>

    <!--this container holds the featured product section-->
    <div id="fitem-list">
        <% for (const item of items){ %>
            <div class="product-item">
                <a href="/user/item-details/<%= item.productID %>">
                    <img class="product-image" src="/images/<%= item.imageURL %>" alt="<%= item.name %>">
                </a>
                <h3><%= item.name %></h3>
                <p>$<%= item.price %></p>
            </div>
            <% } %>
    </div>

    
    <!--this container holds the cat prints that go across the screen as a divider-->
    <div class="cat_prints_container"> <!--block-->
        <hr class="cat_prints">
    </div>

    <footer><!--this is the footer-->
        <div id="footer_background">
            <div id="coffee_bean_footer_accent">
                <p>Copyright © 2024 Sip 'n Snuggles</p>
            </div>
        </div>
    </footer>
</body>



</html>